h1{
	text-align: right;
	color:orange;
}
p:first-letter {
	font-size: 36px;
	color: red;
	text-transform: uppercase;
} 
p>em {
	color: white;
	background-color: green;
}
#allotment h2{
	color: orange;
	font-size: 24px;
}
#allotment li, #warehouse li{
	font-weight:bold;
}
#allotment .fruits-list li{
	color: gray;
	font-weight: normal;
}

#allotment .vegetables-list li, #warehouse .vegetables-list li{
	color: red;
	font-weight: normal;
}

#warehouse h2{
	color: blue;
	font-size: 24px;
}

#warehouse .fruits-list li{
	color: green;
	font-weight: normal;
}

.students-table{
	text-align: center;
}
.students-table thead { 
	font-weight: bold;
}

.students-table tbody td:first-child {
	color: orange;
	background-color: white;
	text-align: left;
}
.students-table tbody{
	background-color: green;
	color: white;
	
}